
    <mat-toolbar color="primary">
      <span><a mat-icon-button routerLink="/">Hackthon</a></span>
      <span class="exmple-spacer"></span>
      <a *ngIf="!loggedIn" mat-icon-button routerLink="/login">Login</a>
      <span ></span>
      <a *ngIf="loggedIn" mat-icon-button style="margin-left: 20px;">{{userName}}</a>
      <a *ngIf="loggedIn" mat-icon-button style="margin-left: 20px;" (click)="logoutUser()">Logout</a>
    </mat-toolbar>
    <h1 *ngIf="loggedIn">{{logOutDetails | json}}</h1>

  
  